.riachuelo__carousel {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    flex-direction: column;
}

.riachuelo__carousel-links_containerA{
    display: flex;
    background-color: rgb(206, 206, 206);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.riachuelo__carousel-links_containerA p {
    font-family: var(--font-secondary);
    color: rgb(65, 65, 65);
}

.riachuelo__carousel-links_containerB {
    /* background-image: url("../../assets/carousel.jpg"); */
    height: 580px;
}

.riachuelo__carousel-links_containerC {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.riachuelo__carousel-content_containerC {
    height: 150px;
    background-image: url("../../assets/banner.jpg");
    width: 75%;
}

.riachuelo__carousel-links_containerD {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 10px;
}

.riachuelo__carousel-links_containerD p {
    font-family: var(--font-family);
    padding-top: 2%;
    background-color: rgb(187, 187, 187);
    line-height: 25px;
    padding-bottom: 2%;
}